body {
	font-size: 1em;
	font-family: Helvetica, Arial, sans-serif;
	margin: 10px;
}

#card-frame {
	max-width: 300px;
	height: 800px;
	box-shadow: 5px 5px 5px 3px gainsboro;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 2px;
}

div.framed {
	border-color: lightgray;
	border-style: solid;
	border-width: 0.5px;
	padding-left: 15px;
	padding-right: 15px;
}

#nomens {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 30px;
}

img {
	min-width: 300px;
	padding-left: 0px;
	padding-right: 0px;
	margin-bottom: 10px;
	border-color: lightgray;
	border-style: solid;
	border-width: 0.5px;


}

#factitalio {
	font-style: italic;
	margin-top: 15px;
	margin-bottom: 15px;
}

ul {
	list-style: none;
	padding: 0px;
}

li {
	line-height: 20px;
}

span {
	font-weight: 900;
}

#description_anchor {
	margin-bottom: 30px;
	margin-top: 0px;
}
